<b >{{value}}<b> <b> {{getOperation()}} <input id="faktor" type="text" [formControl]="faktor" /> <br/>
<button (click)= "addToFaktor('1')" > 1 </button><button (click)= "addToFaktor('2')"> 2 </button> <button (click)= "addToFaktor('3')"> 3 </button> <button (click) = "setOperation('+')"> + </button >  <button (click) = "setOperation('/')"> / </button > <br/>
<button (click)= "addToFaktor('4')"> 4 </button><button (click)= "addToFaktor('5')"> 5 </button> <button (click)= "addToFaktor('6')"> 6 </button> <button (click) = "setOperation('-')"> - </button> <br/>
<button (click)= "addToFaktor('7')"> 7 </button><button (click)= "addToFaktor('8')"> 8 </button> <button (click)= "addToFaktor('9')"> 9 </button> <button (click) = "setOperation('*')"> * </button> <br/>
<button (click) = 'queryBackend()'> = </button>



<h1> Version : {{version}} </h1>
